table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

caption {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  table {
    width: 100%;
  }

  th, td {
    padding: 5px;
  }
}
